*{
  margin: 0;
  padding: 0;
}


body {
  height: 100vh;
  background-image: linear-gradient(to right top, #0f87e0, #5689e4, #7c8ae7, #9a8be7, #b58ce5, #ba85e3, #bf7de1, #c574dd, #b860dc, #a94ddb, #9838da, #8420da);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
